---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout title="Lucid | Home">
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">

        <p class="py-6">
          a nova labs project. <br>
          for more links join our <a href="https://discord.gg" class="link">discord</a>
        </p>
        <input id="search" type="text" placeholder="search the web" class="input input-bordered w-full max-w-xs text-center" />
        
      </div>
    </div>
  </div>
  
  <script is:inline src="js/main.js"></script>
  <script is:inline>
    regSW();
    document.getElementById("search").addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
        proxy(document.getElementById("search").value)
    }
  });
  </script>
</BaseLayout>
