---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout title="Privacy Policy">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-5xl font-bold  hover__btn nodeHover">Privacy Policy</h1>
            <p class="py-6">This Privacy Policy outlines how we collect, use, and protect your information when you use our web-based service</p>
            
    </div>
    <p class="pt-6 text-sm">


        <b>Non-Personal Information</b>: When you visit our website, we may collect non-personal information such as your IP address, browser type, operating system, and the date and time of your visit. This information does not identify you personally and is used for system administration and to improve the website.
        <br>
        <br>
        <b>Cookies</b>: We may use cookies to enhance your experience on our website. Cookies are small data files stored on your device that help us understand how you use our site and improve your browsing experience. You can set your browser to refuse cookies or alert you when cookies are being sent, but some parts of the site may not function properly if you do so.
        <br>
        <br>
        <b>Service Improvement</b>: We use non-personal information to analyze site usage and improve our service.
        <br>
        <br>
        <b>Legal Compliance</b>: We may use or disclose your information to comply with applicable laws, regulations, legal processes, or governmental requests.
        <br>
        <br>
        <b>Third-Party Service Providers</b>: We do not share, sell, or rent your personal information to third parties. However, we may share non-personal information with trusted third-party service providers who assist us in operating our website, conducting our business, or providing our services, as long as those parties agree to keep this information confidential.
        <br>
        <br>
        <b>Data Security</b>
        <br>
        We take reasonable measures to protect the information we collect from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the Internet or electronic storage is completely secure, and we cannot guarantee absolute security.
        <br>
        <br>
        <b>Children's Privacy</b>
        <br>
        Lucid is not intended for use by children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us at legal@novalabs.app, and we will take steps to delete such information.
        <br>
        <br>
        <b>Changes to This Privacy Policy</b>
        <br>
        We may update this Privacy Policy from time to time. Any changes will be posted on this page. Your continued use of the service after any changes signifies your acceptance of the updated policy.
        <br>
        <br>
        <b>Contact Information</b>
        <br>
        If you have any questions or concerns about this Privacy Policy, please contact us at privacy@novalabs.app.
    </p>
</div>

</BaseLayout>
