---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout title="Terms of Service">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-5xl font-bold  hover__btn nodeHover">Terms of Service</h1>
            <p class="py-6">By using our service, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.</p>
            
    </div>
    <p class="pt-6 text-sm">

        <b>Legal and Educational Purposes</b>: Lucid is intended solely for legal and educational purposes. You agree to use the service in a manner that complies with all applicable laws and regulations. Unauthorized use of this service for any illegal activities is strictly prohibited.
        <br>
        <br>
        <b>Prohibited Activities</b>: You may not use the service to:
        - Engage in any form of illegal activity, including but not limited to copyright infringement, hacking, or fraud.
        - Access, retrieve, or store any content that violates the intellectual property rights of others.
        - Transmit any harmful or malicious software, including viruses, worms, or spyware.
        - Circumvent any security measures or access controls implemented by the service or any third party.
        <br>
        <br>


        <b>Compliance with Laws</b>: You agree to comply with all applicable laws, regulations, and policies, including those related to privacy, data protection, and intellectual property.

        Service Provided "As Is": The service is provided on an "as is" and "as available" basis. We make no warranties, express or implied, regarding the availability, reliability, or accuracy of the service. We disclaim all warranties, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.

        No Guarantee of Security: While we strive to protect your information, we cannot guarantee the absolute security of your data transmitted through the service. You acknowledge that you use the service at your own risk.


        <br>
        <br>

        <b>No Liability for Damages</b>: In no event shall Lucid, its owners, affiliates, or partners be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of the service, whether based on contract, tort, strict liability, or any other legal theory, even if we have been advised of the possibility of such damages.
        <br>
        <br>
        <b>Indemnification</b>: You agree to indemnify and hold harmless Lucid, its owners, affiliates, and partners from any claims, damages, liabilities, costs, and expenses (including reasonable attorneys' fees) arising out of or related to your use of the service or any violation of these Terms of Service.

        <br>
        <br>

        <b>Termination of Service</b>: We reserve the right to terminate or suspend your access to the service, without notice, for conduct that we believe violates these Terms of Service or is harmful to other users of the service, us, or third parties, or for any other reason in our sole discretion.
        <br>
        <br>
        <b>Effect of Termination</b>: Upon termination of your access to the service, your right to use the service will immediately cease. All provisions of these Terms of Service that by their nature should survive termination shall survive termination, including but not limited to ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
        <br>
        <br>

        
        <b>Modification of Terms</b>: We reserve the right to modify these Terms of Service at any time. Any changes will be effective immediately upon posting on our website. Your continued use of the service following the posting of changes constitutes your acceptance of such changes.
        <br>
        <br>

        <b>Applicable Law</b>: These Terms of Service shall be governed by and construed in accordance with the laws of the United States of America, without regard to its conflict of law principles.

        <br>
        <br>
        <b>Contact Us</b>: If you have any questions or concerns about these Terms of Service, please contact us at legal@novalabs.app.


    </p>
</div>

</BaseLayout>
